/* HERO
------------------ */
#hero {
  color: white;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  position: absolute;
  width: 100%;
}

#hero h1 {
  font-weight: 100;
  font-size: 2.2em;
}

#hero p {
  font-size: 1.2em;
  font-style: italic;
  font-weight: 300;
}

#hero h4 {
  font-weight: 300;
  font-size: 1.4em;
}
